* {
  font-family: Pridi, serif;
}

.header {
  width: 100%;
  background-color: #fff;
  color: black;
  height: 60px;
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head {
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  position: relative;
  left: 50px;
}

.head:hover {
  cursor: pointer;
}

.main-nav {
  position: relative;
  right: 20px;
  border: 1px solid #000;
  background-color: black;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
}

.main-nav:hover {
  cursor: pointer;
}

.image {
  height: 400px;
  width: 300px;
}

.image:hover {
  cursor: pointer;
}

.square {
  justify-content: center;
  text-align: center;
  width: calc(100% / 3);
  padding-bottom: 1rem;
}

.name {
  font-weight: 700;
  font-size: 1.5rem;
}

.name:hover {
  cursor: pointer;
}

.sort-row {
  padding-top: 1rem;
  position: relative;
  right: 1rem;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.house {
  font-size: 1rem;
  padding-right: 3rem;
  padding-left: 1rem;
}

.hidden {
  display: none;
}

#char-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.details {
  display: flex;
}

.text-column {
  padding-top: 5rem;
  padding-left: 20rem;
  width: 70%;
  font-size: 2rem;
  font-weight: 600;
}

.pic-column {
  padding-top: 5rem;
  padding-left: 20rem;
  width: 30%;
}

.detail-img {
  height: 30rem;
  width: 20rem;
}

.heart {
  padding-top: 2rem;
  padding-left: 0.8rem;
}

.fav {
  font-size: 1rem;
  font-weight: 100;
}

@media screen and (max-width: 1100px) {
  .detail-img {
    height: 20rem;
    width: 15rem;
  }

  .pic-column {
    padding-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .details {
    display: block;
  }

  .text-column {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  .container {
    max-width: 900px;
  }

  .head {
    font-size: 1.5rem;
    left: 1rem;
  }

  .main-nav {
    font-size: 1rem;
  }

  .house {
    font-size: 1rem;
  }

  .square {
    width: 100%;
  }
}
