*{
  font-family: 'Pridi', serif;
}

.header {
  width: 100%;
  background-color: #FFFFFF;
  color: black;
  height: 60px;
  border: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head{
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  position: relative;
  left: 50px;

}

.main-nav{
  position: relative;
  right: 20px;
  border: 1px solid #000000;
  background-color: black;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;

}

.main-nav:hover{
  cursor: pointer;
}

.image{
  height: 400px;
  width: 300px;
}

.square{
  justify-content: center;
  text-align: center;
  width: calc(100% / 3);
  padding-bottom: 1rem;
}


.name{
  font-weight: 700;
  font-size: 1.5rem;
}

.sort-row{
  padding-top: 1rem;
  position: relative;
  right: 1rem;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.house{
  font-size: 1rem;
  padding-right: 3rem;;
  padding-left: 1rem;
}

.hidden{
  display: none;
}


#char-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 985px) {
  .container {
    max-width: 900px;
  }

  .head{
    font-size: 1.5rem;
    left: 1rem;
  }

  .main-nav{
    font-size: 1rem;
  }

  .house{
    font-size: 1rem;
  }

  .square{
    width: 100%;
  }
}
